.ca{
	text-align: center;
}

body{
	/*background: url("/static/img/info/bg.png")no-repeat;
	background-size: cover;*/
}
.pb{
	/*position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);*/
	margin-top:20px;
	margin-bottom:100px;
	
}
.tp{
	margin-top: 82px;
}
.left_bg{
	position: relative;
	left: -15px;
	height: 700px;
}
.shodo{
	height: 700px;
	/*background: red;*/
	box-shadow:2px 5px 16px #56483f;;
}
.activei{
	/*width: 80px;
	height:35px;
	line-height:35px;*/
	text-align: center;
	border:1px solid #CEAD97;
	color: #C19171;
	border-radius:20px ;
	width: 100px;
}
.info_ul,.s_ul{
	height: 50px;
    line-height: 50px;
}
.info_ul li{
	display: inline-block;
	margin:0 10px;
	color: #999;
	
}
.s_ul li{
	display: inline-block;
	margin-right:20px;
	margin-left:15px;
	color: #999;
}
.form-control{
	width:386px;
	height:50px;
	border:2px solid rgba(206,173,151,1);
	border-radius:26px;
}
.bt{
	width:270px;
	background: #CEAD97;
	color: #fff;
	border-radius:26px;
}
.bt:hover{
	width:270px;
	background: #CEAD97;
	color: #fff;
	border-radius:26px;
}
.form-group{
	margin-bottom: 30px;
}
.mr_img img{
	margin:0 5px;
}
.control-label{
	height: 50px;
    line-height: 50px;
    padding-top: 0 !important;
}
.ddw{
	position: relative;
}
.rili_img{
	position: absolute;
	top: 12px;
	right: 12px;
}

.layui-icon{
	display: none !important;
}